header {
  top: -100px; /* Начальная позиция за пределами экрана */
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  text-align: center;

  animation: slideDown 0.5s forwards; /* Запуск анимации */
}
@keyframes slideDown {
  to {
    top: 0; /* Конечная позиция */
  }
}
